[submodule "FM/OPN/knight-ryu12/mml2vgm/opn"]
	path = FM/OPN/knight-ryu12/mml2vgm/opn
	url = https://github.com/knight-ryu12/FMPatches
[submodule "DM-88"]
	path = DM-88
	url = https://github.com/DM-88/FM-SoundLibrary
[submodule "knight-ryu12"]
	path = knight-ryu12
	url = https://github.com/knight-ryu12/FMPatches
