[submodule "DM-88"]
	path = DM-88
	url = https://github.com/DM-88/FM-SoundLibrary
[submodule "knight-ryu12"]
	path = knight-ryu12
	url = https://github.com/knight-ryu12/FMPatches
[submodule "DM-88mk2"]
	path = DM-88mk2
	url = https://github.com/DM-88mkII/FM-SoundLibrary
[submodule "kuma4649"]
	path = kuma4649
	url = https://github.com/kuma4649/ChipInstruments
